@import './../../index.less';

.sys-monitor {
  .main-container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .left-machines {
    float: left;
    width: 30%;
    margin-right: 20px;
  }

  .right-monitor {
    padding-top: 28px;
    float: right;
    width: calc(100% - 20px - 30%);
  }
}