@import './../../index.less';

.sys-monitor {
  .main-container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .left-machines {
    float: left;
    width: 30%;
    margin-right: 10px;
  }

  .right-monitor {
    padding-top: 28px;
    float: left;
    width: calc(100% - 20px - 30%);
  }

  .filter-content {
    .filter {
      display: inline-block;
      margin-left: 20px;
    }
  }

  .button {
    margin-top: 10px;
    padding-left: 20px;
  }

  .monitor-chart-title {
    margin-top: 15px;
    display: block;
    padding-left: 20px;
    font-size: 14px;
  }
}