#server-admin {
  li {
    list-style: none;
  }
  height: 100%;
  .app-main-div {
    height: 100%;
    .main-wrap {
      height: 100%;
      .main-wrap-aside {
        position: fixed;
        top: 54px;
        left: 0;
        height: 100%;
        float: left;
      }
      .main-wrap-main {
        float: left;
        overflow: auto;
        width: calc(~"100% - 205px");
        height: calc(~"100% - 54px");
        position: relative;
        top: 54px;
        left: 205px;
      }
    }
  }
  tr{
    transition: all 0s!important;
  }
  td{
    transition: all 0s!important;
  }
}

@font-face {
  font-family: 'anticon';
  src: url('./fonts/font_zck90zmlh7hf47vi.eot');
  /* IE9*/
  src: url('./fonts/font_zck90zmlh7hf47vi.iefix.eot') format('embedded-opentype'), /* chrome、firefox */ url('./fonts/font_zck90zmlh7hf47vi.woff') format('woff'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('./fonts/font_zck90zmlh7hf47vi.ttf') format('truetype'), /* iOS 4.1- */ url('./fonts/font_zck90zmlh7hf47vi.svg') format('svg');
}
