.login {
  height: 100vh;
  width: 100%;

  .login-bg {
    height: 45%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .login-box {
    background-color: white;

    .login-logo-p {
      display: inline-block;
      width: 41px;
      height: 41px;
      position: relative;
      margin-right: 10px;
    }

    .login-box-logo {
      position: absolute;
      display: inline-block;
      height: 41px;
      width: 41px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      top: 8px;
    }

    .login-box-title {
      font-weight: lighter;
      height: 100px;
      line-height: 100px;
      font-size: 35px;
      margin: 20px 0;
    }

    border-radius: 5px;
    padding: 20px;
    height: 424px;
    width: 434px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px #bbb;
  }

  .site-form-item-icon {
    color: #aaa;
  }

  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
  }  
}