.hc-sider {
  width: 160px;
  height: 100%;
  padding: 20px;
  background: white;
  font-size: 13px;
  /*box-shadow: 0 0 10px #eee;*/
  overflow: auto;
  position: absolute;
  left: 5px;
  border-right: 1px solid #efefef;
  top: 48px;

  .sider-menu {
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
    cursor: pointer;

    a {
      display: inline-block;
      width: 100%;
    }

    &.active {
      background: rgb(233, 242, 250);
    }

    &.second:hover {
      background: rgb(233, 242, 250);
    }

    &.first {
      padding-left: 0;
      color: #79879c;
    }
  }
}