<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Honeycomb-Console</title>
  <link rel="stylesheet" href="<%= prefix %>/assets/app.css">
</head>
<body>
  <div id="main"></div>
  <script>
    window.CONFIG = {
      prefix: '<%=prefix%>',
      secureServerVersion: '<%=secureServerVersion%>',
      oldConsole:  '<%=oldConsole%>',
      csrfToken: '<%=csrfToken%>',
      publishPages: JSON.parse('<%- JSON.stringify(publishPages) %>'),
      user: JSON.parse('<%- JSON.stringify(user) || "{}" %>'),
      appManageConfig: JSON.parse('<%- JSON.stringify(appManageConfig) || "{}" %>'),
      hideUpload: '<%=hideUpload%>',
      docUrl: '<%= docUrl %>',
      envName: '<%= envName %>'
    };
  </script>
  <script src="<%= prefix %>/assets/app.js"></script>
</body>
</html>
