<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>App Admin</title>
</head>
<body>
  <script>
    if (!window.location.href.split('?clusterCode=')[1] && localStorage.getItem('clusterCode')) {
      window.location.href = window.location.href + '?clusterCode=' + localStorage.getItem('clusterCode');
    }
  </script>
  <div id="server-admin"></div>
  <script>
    window.csrfToken = '<%=csrfToken%>';
    window.publishPages = JSON.parse('<%- JSON.stringify(publishPages) %>');
    window.user = JSON.parse('<%- JSON.stringify(user) || "{}" %>');
    <% if(env === 'dev'){ %>
    document.write('<scrip' + 't src="/assets/.build/build.js"></s' + 'cript>');
    <% } %>
    document.write('<lin' + 'k rel="stylesheet" href="/assets/app.css">');
    document.write('<scrip' + 't src="/assets/vendor.js"></s' + 'cript>');
    document.write('<scrip' + 't src="/assets/app.js"></s' + 'cript>');
  </script>
</body>
</html>
