<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>App Admin</title>
</head>
<body>
  <div id="server-admin"></div>
  <script>
    window.prefix = '<%=prefix%>';
    window.secureServerVersion = '<%=secureServerVersion%>';
    window.oldConsole = '<%=oldConsole%>';
    window.csrfToken = '<%=csrfToken%>';
    window.publishPages = JSON.parse('<%- JSON.stringify(publishPages) %>');
    window.user = JSON.parse('<%- JSON.stringify(user) || "{}" %>');
    window.appManageConfig = JSON.parse('<%- JSON.stringify(appManageConfig) || "{}" %>');
    <% if(env === 'dev'){ %>
    document.write('<scrip' + 't src="<%=prefix%>/assets/.build/build.js"></s' + 'cript>');
    <% } %>
    document.write('<lin' + 'k rel="stylesheet" href="<%=prefix%>/assets/app.css">');
    document.write('<scrip' + 't src="<%=prefix%>/assets/vendor.js"></s' + 'cript>');
    document.write('<scrip' + 't src="<%=prefix%>/assets/app.js"></s' + 'cript>');
  </script>
</body>
</html>
