<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>用户登录 - Honeycomb-Console</title>
  <link rel="stylesheet" href="<%= prefix %>/assets/app.css">
</head>
<body>
  <div id="main"></div>
  <script type="text/javascript">
      window.CONFIG = {};
      window.CONFIG.isLogin = true;
      window.CONFIG.prefix = '<%= prefix %>';
      window.CONFIG.userCount = <%= userCount %>;
      window.CONFIG.errMsg = '<%= errMsg %>';
      window.CONFIG.csrfToken = '<%= csrfToken %>';
  </script>
  <script src="<%= prefix %>/assets/app.js"></script>
</body>
</html>

